{# 
/** 
 * @file
 * Template for the live weather list block
 * Available variables:
 * - weather_detail: array of weather list.
 */
#}


    <script type="text/javascript">
      /* <![CDATA[ */
      var elementorFrontendConfig = {
        "isEditMode": "1",
        "is_rtl": "",
        "urls": {
          "assets": "{{base_path}}modules\/elementor\/wp-content\/plugins\/elementor\/assets\/"
        },
        "settings": {
          "page": [],
          "general": {
            "elementor_global_image_lightbox": "yes",
            "elementor_enable_lightbox_in_editor": "yes"
          }
        },
        "post": {
          "id": 1,
          "title": "Hello world!",
          "excerpt": ""
        },
        "elements": {
          "data": {},
          "editSettings": {},
          "keys": {
            "section": ["background_background", "background_video_link", "shape_divider_top", "shape_divider_top_negative", "shape_divider_bottom", "shape_divider_bottom_negative", "animation", "animation_delay"],
            "column": ["animation", "animation_delay"],
            "common": ["_animation", "_animation_delay"],
            "heading": ["_animation", "_animation_delay"],
            "image": ["_animation", "_animation_delay"],
            "text-editor": ["drop_cap", "_animation", "_animation_delay"],
            "video": ["lightbox", "aspect_ratio", "lightbox_content_position", "lightbox_content_animation", "_animation", "_animation_delay"],
            "button": ["_animation", "_animation_delay"],
            "divider": ["_animation", "_animation_delay"],
            "spacer": ["_animation", "_animation_delay"],
            "image-box": ["_animation", "_animation_delay"],
            "google_maps": ["_animation", "_animation_delay"],
            "icon": ["_animation", "_animation_delay"],
            "icon-box": ["_animation", "_animation_delay"],
            "image-gallery": ["_animation", "_animation_delay"],
            "image-carousel": ["slides_to_show", "slides_to_show_tablet", "slides_to_show_mobile", "slides_to_scroll", "navigation", "pause_on_hover", "autoplay", "autoplay_speed", "infinite", "effect", "speed", "direction", "_animation", "_animation_delay"],
            "icon-list": ["_animation", "_animation_delay"],
            "counter": ["_animation", "_animation_delay"],
            "progress": ["_animation", "_animation_delay"],
            "testimonial": ["_animation", "_animation_delay"],
            "tabs": ["_animation", "_animation_delay"],
            "accordion": ["_animation", "_animation_delay"],
            "toggle": ["_animation", "_animation_delay"],
            "social-icons": ["_animation", "_animation_delay"],
            "alert": ["_animation", "_animation_delay"],
            "audio": ["_animation", "_animation_delay"],
            "shortcode": ["_animation", "_animation_delay"],
            "html": ["_animation", "_animation_delay"],
            "menu-anchor": ["_animation", "_animation_delay"],
            "sidebar": ["_animation", "_animation_delay"],
            "wp-widget-pages": ["_animation", "_animation_delay"],
            "wp-widget-calendar": ["_animation", "_animation_delay"],
            "wp-widget-archives": ["_animation", "_animation_delay"],
            "wp-widget-media_audio": ["_animation", "_animation_delay"],
            "wp-widget-media_image": ["_animation", "_animation_delay"],
            "wp-widget-media_gallery": ["_animation", "_animation_delay"],
            "wp-widget-media_video": ["_animation", "_animation_delay"],
            "wp-widget-meta": ["_animation", "_animation_delay"],
            "wp-widget-search": ["_animation", "_animation_delay"],
            "wp-widget-text": ["_animation", "_animation_delay"],
            "wp-widget-categories": ["_animation", "_animation_delay"],
            "wp-widget-recent-posts": ["_animation", "_animation_delay"],
            "wp-widget-recent-comments": ["_animation", "_animation_delay"],
            "wp-widget-rss": ["_animation", "_animation_delay"],
            "wp-widget-tag_cloud": ["_animation", "_animation_delay"],
            "wp-widget-nav_menu": ["_animation", "_animation_delay"],
            "wp-widget-custom_html": ["_animation", "_animation_delay"]
          }
        }
      };
      /* ]]> */
    </script>
<link rel="stylesheet" href="{{base_path}}modules/elementor/elementor/assets/lib/eicons/css/elementor-icons.min.css?ver=3.3.0" type="text/css">
<link rel="stylesheet" href="{{base_path}}modules/elementor/elementor/assets/lib/font-awesome/css/font-awesome.min.css?ver=4.7.0" type="text/css">
<link rel="stylesheet" href="{{base_path}}modules/elementor/elementor/assets/lib/e-select2/css/e-select2.min.css?ver=4.0.6-rc.1" type="text/css">
<link rel="stylesheet" href="{{base_path}}modules/elementor/elementor/assets/lib/eicons/css/elementor-icons.min.css?ver=3.3.0" type="text/css">
<link rel="stylesheet" href="{{base_path}}modules/elementor/elementor/assets/lib/animations/animations.min.css?ver=2.0.16" type="text/css">
<link rel="stylesheet" href="{{base_path}}modules/elementor/elementor/assets/css/editor-preview.min.css?ver=2.0.16" type="text/css">
<link rel="stylesheet" href="{{base_path}}modules/elementor/elementor/assets/css/frontend.min.css?ver=2.0.16" type="text/css">

<script src="{{base_path}}modules/elementor/data.js"/></script>

<script type="text/javascript">
  /* <![CDATA[ */
  window.ElementorConfigData = "{{ elementor_data.elements|json_encode() }}";
  window.ElementorConfigData = JSON.parse(ElementorConfigData.replace(/&quot;/g,'"'));
  /* ]]> */
</script>

<script src="{{base_path}}modules/elementor/wp-includes/js/jquery/jquery.js"></script>
<script src="{{base_path}}modules/elementor/wp-includes/js/jquery/jquery-migrate.min.js"></script>
<script src="{{base_path}}modules/elementor/wp-includes/js/jquery/ui/position.min.js"></script>

<script type="text/javascript" src="{{base_path}}modules/elementor/elementor/assets/lib/slick/slick.min.js?ver=1.8.1"></script>
<script type="text/javascript" src="{{base_path}}modules/elementor/elementor/assets/lib/jquery-numerator/jquery-numerator.min.js?ver=0.2.1"></script>
<script type="text/javascript" src="{{base_path}}modules/elementor/elementor/assets/lib/inline-editor/js/inline-editor.min.js?ver=4.9.6"></script>
<script type="text/javascript" src="{{base_path}}modules/elementor/elementor/assets/lib/dialog/dialog.min.js?ver=4.3.2"></script>
<script type="text/javascript" src="{{base_path}}modules/elementor/elementor/assets/lib/waypoints/waypoints.min.js?ver=4.0.2"></script>
<script type="text/javascript" src="{{base_path}}modules/elementor/elementor/assets/lib/swiper/swiper.jquery.min.js?ver=3.4.2"></script>
<script type="text/javascript" src="{{base_path}}modules/elementor/elementor/assets/js/frontend.min.js?ver=2.0.16"></script>

<style>
  body.elementor-preview-window {
    padding: 0 !important;
  }

  body.elementor-preview-window {
    margin: 0 !important;
  }

  body.elementor-preview-window #toolbar-administration,
  body.elementor-preview-window .contextual,
  body.elementor-preview-window ul.tabs.primary {
    display: none !important;
  }

</style>

<div id="elementor" class="elementor-edit-mode elementor elementor-1 elementor-edit-area-active">
<style>
.elementor-background-overlay {
  display: none;
}

.elementor-element-overlay {
  display: none;
}

.elementor-shape.elementor-shape-top {
  display: none;
}

.elementor-shape.elementor-shape-bottom {
  display: none;
}

div#elementor-add-new-section {
  display: none;
}


.elementor-column-wrap.elementor-element-empty {
  display: none;
}
</style>

{{elementor_tmp | raw}}
</div>
